body {
  background: #fff;
  color: #000;
  margin: 0px;
  padding: 0px;
  direction: ltr;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 11px;
  font-weight: normal;
}
table
{
	padding:10px 10px 10px;
	table-layout:auto;
	border-collapse:separate;
	empty-cells:hide;
}
td
{
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
h
{
 font-size: 12px;
 font-family:Arial,Helvetica,sans-serif;
}
h.info
{
  color:rgb(114,114,114);
}
div.photo
{
  background-image:url(/far.jpg);
  background-repeat:repeat-x;
}

